@import url('https://fonts.googleapis.com/css2?family=Itim&display=swap');

body {
    /* font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol"; */
    font-family: 'Itim', cursive !important;
}

html,
body {
    font-family: 'Itim', cursive;
    margin: 0px;
    color: #1f271b;
}

button {
    font-family: 'Itim', cursive;
}

h1 {
    margin: 0;
    color: white;
    font-size: 3rem;
    text-align: center;
}

h2 {
    margin: 0;
}

input[type="text"] {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    color: rgb(49, 182, 182);
    color: white;
    margin: 0;
    border: 2px solid rgba(1, 56, 15, 0.486);
    background-color: rgba(92, 92, 92, 0.452);
    font-family: 'Itim', cursive;
}

form>div>input {
    /* text-align: center; */
    border: none;
    font-size: 1rem;
    background: none;
    outline: none;
    transition: 1s;
    display: flex;
    flex-grow: 1;
    font-family: 'Itim', cursive;
}

input[type=button] {
    border-radius: 10px;
    font-size: large;
    font-family: 'Itim', cursive;
}

input[type=date] {
    cursor: text;
    font-family: 'Itim', cursive;
}

select {
    cursor: text;
    font-family: 'Itim', cursive;
}

input[type=text]:focus {
    border-radius: 0px;
    font-family: 'Itim', cursive;
    color: white;
}

input[type=button]:hover {
    transform: scale(0.8);

}

::placeholder {
    color: rgb(0, 0, 0);
    opacity: 0.5;
    font-family: 'Itim', cursive;
}

.modal {
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    border: 2px solid aquamarine;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    /* display: flex; */
    display: grid;
    grid-template-columns: 1fr 5fr;
    /* gap: 20px; */
    /* border-radius: 10px; */
    min-height: 100vh;
    background-color: black;
}

.sectionOne {
    margin: 5px;
    border-radius: 10px;
    /* background-color: #1f271b; */
    background-color: #141414;
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid #b8b8aa;
}

.sectionTwo {
    margin: 5px;
    border-radius: 5px;
    border: 2px solid #b8b8aa;
    background-color: #141414;
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sectionThree {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    font-size: 1.2rem;
    gap: 10px;
    padding: 10px;
    border-radius: 10px;
    /* background-color: #ddd5d0; */
}

.arrangeStyle {
    min-height: 100vh;
    border: 2px solid rgba(1, 56, 15, 0.486);
    border-radius: 10px;
    background-color: rgb(230, 230, 230);
}

.addTodoConfirmation {
    font-size: 1.2rem;
    gap: 5px;
    display: none;

}

.dateDiv {
    text-align: center;
}


.saveBtnDiv {
    display: flex;
    flex: 1;
}


.saveBtn,
.saveBtnEdit {
    background-color: rgb(42, 42, 43);
    color: aliceblue;
    cursor: pointer;
    border: 1px solid rgb(161, 161, 161);
    border-radius: 10px;
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 6px;
}

.cancelBtn,
.cancelBtnEdit {
    background-color: rgb(243, 106, 96);
    color: aliceblue;
    cursor: pointer;
    border: 1px solid rgb(161, 161, 161);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 6px;
}

.statusBtn,
.statusBtnEdit {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.addItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 10px;
    padding: 0px;
    padding-left: 10px;
    align-items: center;
    gap: 5x;
}

.hud {
    display: flex;
    justify-content: end;
    gap: 5px;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* background-color: rgb(219, 219, 219); */
}



.todoMain {
    /* display: block; */
    /* grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: center; */
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    /* transition: 1s; */
    background-color: rgba(200, 212, 203, 0.486);
    color: #141414;
    border: 2px solid rgba(1, 56, 15, 0.486);
    /* text-decoration: line-through; */
}

.onClickEditTodoMainStyle {
    background-color: rgb(230, 230, 230);
    border: none;
}

.todoDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 10px;
    padding-left: 10px;
}

.todoNameDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.addTodoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(1, 56, 15, 0.486);
    background-color: #141414;
    color: rgb(49, 182, 182);
    border-radius: 10px;
    padding-left: 5px;
    gap: 10px;
    cursor: pointer;
}

.addTodoBtn {
    all: unset;
    display: flex;
    font-size: 1.2rem;
    flex-grow: 1;
    font-weight: bold;
}

.todoSign {
    height: 18px;
    width: 18px;
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.addTodoOnOff {
    height: 20px;
    width: 20px;
    display: flex;
    cursor: pointer;
    background: url('../img/add.png') center/contain;
}

.todoIcon {
    display: flex;
    gap: 10px
}

.todoDeleteBtn {
    all: unset;
    width: 30px;
    background: url('../img/delete.png') center/contain no-repeat;
    cursor: pointer;
    /* background-color: rgba(255, 255, 255, 0.966); */
}

.todoEditBtn {
    all: unset;
    width: 20px;
    background: url('../img/edit.png') center/contain no-repeat;
    cursor: pointer;
}

.imageSort {
    display: flex;
    justify-content: center;
    gap: 10px;
}

.listIcon {
    all: unset;
    width: 30px;
    height: 30px;
    background: url('../img/list.png') center/contain no-repeat;
    cursor: pointer;
}

.gridIcon {
    all: unset;
    width: 30px;
    height: 30px;
    background: url('../img/grid.png') center/contain no-repeat;
    cursor: pointer;
}

.todoMinimizeBtn {
    background-color: black;
    border-radius: 10px;
    color: white;
    cursor: pointer;
    text-align: center;
}

.hud>div {
    /* border-bottom: 2px dashed rebeccapurple; */
}

.todoSign:hover {
    background-color: rgb(178, 248, 86);
    opacity: 0.7;
}

.todoMain:hover {
    /* background-color: rgba(109, 109, 108, 0.281);
    transform: scale(1.01); */
    /* cursor: pointer; */
}

/* onClick classList */


.onClickHideToDoDetails {
    display: none;
}

.onClickTodoDate {
    justify-content: end;
    display: flex;
    text-align: center;
}

.onClickSectionThreeShrink {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.onClickTodoMainShrink {
    /* display: block; */
    background-color: rgb(223, 189, 189);
    border-radius: 10px;
    padding: 10px;
    width: 205px;
}

.onClickTodoDetailsShrink {
    display: flex;
    flex-direction: column;
}

.onClickFillTodoSign {
    background-color: rgba(0, 0, 0, 0.486);
    border-color: white;
}

.onClickDefaultTodoSign {
    border: 1px solid rgb(70, 68, 68);
    background-color: rgb(255, 255, 255);
}

.signStyle {
    background-color: rgba(0, 0, 0, 0.404);
    opacity: 0.2;
}

.editTodo {
    display: none;
}