body {
    font-family: system-ui, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol";
    /* position: fixed */
}

h1 {
    margin: 0;
    color: rgb(124, 105, 209);
    font-size: 4rem;
    text-align: center;
}

h2 {
    margin: 0;
}

.modal {
    background-color: rgb(29, 29, 29);
    border-radius: 10px;
    border: 2px solid aquamarine;
}

.content {
    display: flex;
    flex-direction: column;
}

.container {
    /* display: grid; */
    /* grid-template-columns: 1fr 3fr; */
    display: flex;
    gap: 20px;
    border: 5px solid rgb(10, 5, 5);
    height: 100vh;
}

.sectionOne {
    border: 2px dashed red;
    padding: 0;
    margin: 0;
    display: flex;
    align-items: center;
    justify-content: center;
}

.sectionTwo {
    border: 2px dashed rgb(204, 0, 255);
    padding: 10px;
    display: flex;
    flex-direction: column;
    flex-grow: 1;
}

.sectionThree {
    padding-left: 10px;
    padding-right: 10px;
    display: grid;
    font-size: 1.2rem;
    gap: 5px;
}

.sectionFour {
    padding-top: 10px;
    padding-left: 10px;
    padding-right: 10px;
    font-size: 1.2rem;
    /* display: grid; */
    /* display: none; */
    gap: 5px;
}

input[type="text"] {
    font-weight: bold;
}

form {
    display: flex;
    flex-direction: column;
    border: 2px solid rgba(1, 56, 15, 0.486);
    background-color: rgba(200, 212, 203, 0.486);
    color: rgb(49, 182, 182);
    color: white;
    margin: 0;
}

form>div>input {
    /* text-align: center; */
    border: none;
    font-size: 1rem;
    background: none;
    outline: none;
    transition: 1s;
    display: flex;
    flex-grow: 1;
}

input[type=button] {
    border-radius: 10px;
    font-size: large;
}

input[type=date] {
    cursor: text
}

input[type=text]:focus {
    border-radius: 0px;
    /* border-bottom: 2px solid black; */
}

input[type=button]:hover {
    transform: scale(0.8);
}

.dateDiv {
    text-align: center;
}

.statusDiv,
.saveBtnDiv {
    display: flex;
}

.statusDiv {
    margin-right: 100px;
}

.saveBtn {
    background-color: rgb(42, 42, 43);
    color: aliceblue;
    cursor: pointer;
    border: 1px solid rgb(161, 161, 161);
    display: flex;
    flex: 1;
    justify-content: center;
    padding: 6px;
}

.statusBtn {
    background-color: black;
    color: white;
    border-radius: 10px;
    padding: 5px;
}

.addItem {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 10px;
    /* justify-items: center; */
    padding-left: 20px;
    align-items: center;
}

.hud {
    display: grid;
    border-radius: 10px;
    font-weight: bold;
    font-size: 1.2rem;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    /* padding-left: 20px; */
    /* justify-items: center; */
}

.todoMain {
    display: grid;
    grid-auto-flow: column;
    grid-template-columns: 1fr;
    align-items: center;
    border-radius: 10px;
    padding-top: 3px;
    padding-bottom: 3px;
    transition: 1s;
    background-color: rgba(220, 233, 204, 0.404);
}

.todoDetails {
    display: grid;
    grid-template-columns: repeat(auto-fit, minmax(100px, 1fr));
    border-radius: 10px;
    padding-left: 10px;
}

.todoNameDiv {
    display: flex;
    align-items: center;
    gap: 5px;
}

.addTodoDiv {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 2px solid rgba(1, 56, 15, 0.486);
    background-color: rgba(200, 212, 203, 0.486);
    color: rgb(49, 182, 182);
    border-radius: 10px;
    padding-left: 5px;
    gap: 10px;
    margin: 10px;
    cursor: pointer;
}

.addTodoBtn {
    all: unset;
    display: flex;
    font-size: 1.2rem;
    flex-grow: 1;
    font-weight: bold;
}

.todoSign {
    height: 18px;
    width: 18px;
    display: flex;
    cursor: pointer;
    border: 1px solid rgb(70, 68, 68);
    border-radius: 50%;
    background-color: rgb(255, 255, 255);
}

.addTodoOnOff {
    height: 20px;
    width: 20px;
    display: flex;
    cursor: pointer;
    background: url('../img/add.png') center/contain;
}

.todoDeleteBtn {
    width: 30px;
    background: url('../img/delete.png') center/contain no-repeat;
    cursor: pointer;
}

.todoMinimizeBtn {
    background-color: black;
    border-radius: 10px;
    color: snow;
    cursor: pointer;
}

.hud>div {
    /* border-bottom: 2px dashed rebeccapurple; */
}

.todoSign:hover {
    background-color: rgb(178, 248, 86);
    opacity: 0.7;
}

.todoMain:hover {
    /* background-color: rgba(109, 109, 108, 0.281);
    transform: scale(1.01); */
    /* cursor: pointer; */
}

/* onClick classList */


.onClickHideToDoDetails {
    display: none;
}

.onClickTodoDate {
    display: flex;
    align-self: end;
}

.onClickSectionThreeShrink {
    grid-template-columns: repeat(auto-fit, minmax(150px, 1fr));
}

.onClickTodoMainShrink {
    background-color: rgb(223, 189, 189);
    border-radius: 10px;
    padding: 10px;
    width: 20%;
}

.onClickTodoDetailsShrink {
    display: flex;
    flex-direction: column;
}

.onClickFillTodoSign {
    background-color: rgba(0, 0, 0, 0.486);
    border-color: white;
}

.signStyle {
    background-color: rgba(0, 0, 0, 0.404);
    opacity: 0.2;
}